@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(213, 227, 247);
}

.nav {
  background-color: black;
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;
  white-space: nowrap;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.nav img {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
}

.nav-link {
  padding-bottom: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 3px solid white;
}

.card {
  position: relative;
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
  top: 350px;
  color: rgb(24, 48, 82);
  padding-bottom: 50vh;
}

.card p {
  font-size: 20px;
}

.card-title {
  position: relative;
  width: fit-content;
  max-width: 1000px;
  font-size: 80px;
  color: rgb(24, 48, 82);
  margin: 0 auto;
  top: 230px;
  border-bottom: 5px rgb(24, 48, 82) solid;
  padding-bottom: 20px;
}

.card h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
}