@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

* {
  padding: 0;
  margin: 0;
}


html {
  background: #121a2b;
}

.textbox {
  display: inline-block;
}






.menu-wrapper {
  position: relative;
}

.menu {
  background-color: black;
  width: 95%;
  height: 70px;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 10px;
  text-align: center;
  padding-top: 24px;

}

.menu li {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  color: white;
}

.top {
  background: #131927;
  height: 700px;
  width: 100%;

}

.top .textbox {
  position: fixed;
  z-index: 15;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.top h1 {
  font-size: 300%;
  white-space: nowrap;
  text-shadow: 0 0 5px black;
  text-align: center;
}

.top p {
  font-size: 200%;
  white-space: nowrap;
  text-shadow: 0 0 5px black;
}

.top video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;

}

.con1 {
  background: #2b5592;
  height: 700px;
  width: 100%;
  position: relative;
  z-index: 100;
}

.con1 h1 {
  position: absolute;
  top: 200px;
  left: 50%;
  font-size: 300%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
}

.con1 p {
  position: absolute;
  top: 250px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 150%;
  color: white;

}

.con1 a {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid white;
}

.con1 img {
  width: 100%;
  position: absolute;
  bottom: 660px;
}

.unblur {
  filter: blur(20px);
  opacity: 0;
}

.con2 {
  background: #6592d2;
  width: 100%;
  height: 850px;
  position: relative;
  z-index: 100;
}

.con2 h1 {
  font-size: 300%;
  color: white;
  text-align: center;
}

.con2 img {
  width: 100%;
  transform: rotate(180deg);
}

.con3 {
  background: #2b5592;
  display: inline-block;
  width: 100%;
  height: 900px;
  position: relative;
  top: 10px;
  z-index: 100;
}

.con3 img {
  width: 100%;
  transform: scale(-1, 1);
  position: absolute;
  bottom: 850px;
}

.con3 h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 300%;
}

.footer {
  width: 100%;
  position: relative;
  background: #2e4154;
  z-index: 100;
}




@media screen and (max-width:930px) {
  .unblur {
    filter: blur(20px);
    opacity: 0;
  }

  .top {
    background: #131927;
    height: 100vh;
    width: 100%;

  }

  .top h1 {
    font-size: 6vw;
  }

  .top p {
    font-size: 4vw;
  }

  .top video {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10;

  }

  .con1 {
    background: #2b5592;
    height: 100vh;
    width: 100%;
    position: relative;
    top: 10px;
    z-index: 100;
  }

  .con1 h1 {
    position: absolute;
    top: 100px;
    font-size: 30px;
  }

  .con1 p {
    position: absolute;
    top: 150px;
    font-size: 20px;
  }

  .con1 img {
    width: 100%;
    position: absolute;
    bottom: 100vh;
  }

  .con2 {
    background: #6592d2;
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 15px;
    z-index: 100;
  }


  .con2 img {
    width: 100%;
    transform: rotate(180deg);
  }

  .con3 {
    background: #2b5592;
    width: 100%;
    height: 100vh;
    position: relative;
    bottom: 15px;
    z-index: 100;
  }

  .con3 h1 {
    font-size: 30px;
  }

  .con3 img {
    width: 100%;
    transform: scale(-1, 1);
    position: absolute;
    bottom: 100vh;
  }

  .footer {
    position: relative;
    bottom: 0;
    background: #2e4154;
    z-index: 100;
  }




  .menu-wrapper {
    position: relative;
    z-index: 1000;
  }

  .menu-icon {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 3;
    display: inline-block;

  }

  .menu-icon span {
    display: block;
    height: 4px;
    margin: 6px 0;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 4px black;
    transition: 0.4s;
  }

  /* ハンバーガーがXに変形 */
  #menu-toggle:checked+.menu-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  #menu-toggle:checked+.menu-icon span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked+.menu-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  /* オーバーレイ背景 */
  .overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    background-color: rgba(128, 128, 128, 0.45);
    pointer-events: none;
    transition: 0.4s;
    z-index: 1;
  }

  #menu-toggle:checked~.overlay {
    opacity: 1;
    pointer-events: auto;
  }

  /* メニュー本体（左から出す） */
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    /* ← 初期位置を左へ */
    width: 250px;
    height: 100%;
    background: black;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    transition: left 0.4s ease;
    z-index: 2;
  }

  #menu-toggle:checked~.menu {
    left: 0;
    /* ← 開いたときは左0へ */
  }

  .menu ul {
    list-style: none;
    padding: 60px 20px;
  }

  .menu li {
    width: 100%;
    margin: 10px 0;
    display: normal;
  }

  .menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s;
  }

  .menu a:hover {
    color: #007bff;
  }

}