
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
*{
    padding:0;
    margin:0;
}

html{
    background-color:black;
    font-family: "Sawarabi Gothic", sans-serif;
}

.nav{
    background-color:rgba(14, 17, 28, 0.92);
    backdrop-filter:blur(3px);
    position:fixed;
    top:40px;
    left:50%;
    transform:translate(-50%,-50%);
    width:95%;
    max-width:1300px;
    z-index:1000;
    height:70px;
    border-radius:10px;
}

.nav-link{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.nav a{
    text-decoration:none;
    color:white;
    margin-left:5px;
    margin-right:5px;
}

.top-video{
    position:fixed;
    top:0;
    z-index:-2;
  
}

.top-video video{
    width:150%;
    object-fit:cover;
    height:100vh;
}

.top-text{
    color:white;
    white-space:nowrap;
    z-index:100;
    font-size:2vw;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    text-shadow:0 0 10px rgb(14, 17, 28);
    z-index:-1;
}


/**メインコンテンツ**/
.main-con1{
    background-color:rgb(43,85,146);
    box-shadow:0 0 10px rgb(14, 17, 28);
    position:relative;
    top:100vh;
    height:50vw;
}

.main-con1 img{
    width:100%;
    position:absolute;
    bottom:45vw;
}

.main-con1-text{
    color:white;
    width:fit-content;
}

/**card**/
.card1{
    text-align:center;
    position:absolute;
    top:23vw;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:2vw;
    color:white;
    white-space:nowrap;
    
}

a.button{
    background-color:rgb(255, 255, 255);
    color:rgb(43,85,146);
    text-decoration:none;
    position:relative;
    top:50px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:25px;
    padding-left:25px;
    border-radius:5px;
    transition: background-color 0.3s ease;
}
a.button:hover{
    background-color:rgb(213, 227, 247);
}


.main-con2{
    position:relative;
    top:100vh; 
    background-color:rgb(213, 227, 247);
    height:50vw;
}

.card2{
    width:fit-content;
    position:absolute;;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    white-space:nowrap;
}

.card2 .text{  
    display:inline-block;
    color:rgb(24, 48, 82);
    font-size:2vw;
    position:relative;
    right:20vw;
}

.card2 .text p{
    margin-top:15px;
}


a.button2{
    text-decoration:none;
    color:white;
    background-color:rgb(56, 119, 211);
    position:relative;
    top:15px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:25px;
    padding-left:25px;
    border-radius:5px;
    transition: background-color 0.3s ease;
}

a.button2:hover{
    background-color:rgb(39, 73, 123);
}

.card2 img{
    width:40vw;
    border-radius:15px;
    position:absolute;
    left:65%;
}

.main-con3{
    position:relative;
    top:100vh;
    background-color:rgb(181, 204, 237);
    height:50vw;
    
}

.card3{
    width:fit-content;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    white-space:nowrap;
}

.card3 img{
    width:40vw;
    border-radius:15px;
    position:absolute;
    right:55%;
}

.card3 .text{
    display:inline-block;
    color:rgb(24, 48, 82);
    font-size:2vw;
    position:relative;
    left:57%;
}

.card3 .text p{
    margin-top:15px;
}
