@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: rgb(213, 227, 247);
  font-family: "Sawarabi Gothic", sans-serif;
}

/* コンテンツページ用の明るい背景 */
body.content-page {
  background-color: rgb(213, 227, 247);
}

body.content-page html {
  background-color: rgb(213, 227, 247);
}

.nav {
  background-color: rgba(14, 17, 28, 0.92);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 1300px;
  z-index: 1000;
  height: 70px;
  border-radius: 10px;
  white-space: nowrap;
}

.nav-img {
  width: 60px;
  margin-left: 20px;
  margin-top: 12px;
}

.nav-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.top-video {
  position: fixed;
  top: 0;
  z-index: -2;

}

.top-video video {
  width: 150%;
  object-fit: cover;
  height: 100vh;
}

.top-text {
  color: white;
  white-space: nowrap;
  z-index: 100;
  font-size: 2vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 0 10px rgb(14, 17, 28);
  z-index: -1;
}


/**メインコンテンツ**/
.main-con1 {
  background-color: rgb(43, 85, 146);
  box-shadow: 0 0 10px rgb(14, 17, 28);
  position: relative;
  top: 100vh;
  height: 50vw;
}

.main-con1 img {
  width: 100%;
  position: absolute;
  bottom: 45vw;
}

.main-con1-text {
  color: white;
  width: fit-content;
}

/**card**/
.card1 {
  text-align: center;
  position: absolute;
  top: 23vw;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  color: white;
  white-space: nowrap;

}

a.button {
  background-color: rgb(255, 255, 255);
  color: rgb(43, 85, 146);
  text-decoration: none;
  position: relative;
  top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.button:hover {
  background-color: rgb(213, 227, 247);
}


.main-con2 {
  position: relative;
  top: 100vh;
  background-color: rgb(213, 227, 247);
  height: 50vw;
}

.card2 {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.card2 .text {
  display: inline-block;
  color: rgb(24, 48, 82);
  font-size: 2vw;
  position: relative;
  right: 20vw;
}

.card2 .text p {
  margin-top: 15px;
}


a.button2 {
  text-decoration: none;
  color: white;
  background-color: rgb(56, 119, 211);
  position: relative;
  top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.button2:hover {
  background-color: rgb(39, 73, 123);
}

.card2 img {
  width: 40vw;
  border-radius: 15px;
  position: absolute;
  left: 65%;
}

.main-con3 {
  position: relative;
  top: 100vh;
  background-color: rgb(181, 204, 237);
  height: 50vw;

}

.card3 {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.card3 img {
  width: 40vw;
  border-radius: 15px;
  position: absolute;
  right: 55%;
}

.card3 .text {
  display: inline-block;
  color: rgb(24, 48, 82);
  font-size: 2vw;
  position: relative;
  left: 57%;
}

.card3 .text p {
  margin-top: 15px;
}

/**コンテンツページ用スタイル**/
/* コンテンツページ用のナビゲーション */
body.content-page .nav {
  background-color: rgba(14, 17, 28, 0.92);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 1300px;
  z-index: 1000;
  height: 70px;
  border-radius: 10px;
  white-space: nowrap;
}

body.content-page .nav-img {
  width: 60px;
  margin-left: 20px;
  margin-top: 12px;
}

body.content-page .nav-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.content-page .nav a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.card {
  position: relative;
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
  top: 350px;
  color: rgb(24, 48, 82);
  padding-bottom: 100px;
}

.card p {
  font-size: 20px;
}

.card-title {
  position: relative;
  width: fit-content;
  max-width: 1000px;
  font-size: 50px;
  color: rgb(24, 48, 82);
  margin: 0 auto;
  top: 230px;
  border-bottom: 5px rgb(24, 48, 82) solid;
  padding-bottom: 20px;
}

.card h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 40px;
}

/* レスポンシブ対応 */
@media screen and (max-width: 768px) {
  /* ナビゲーション */
  .nav {
    top: 30px;
    height: 60px;
    width: 90%;
  }
  
  .nav-img {
    width: 45px;
    margin-left: 10px;
    margin-top: 8px;
  }
  
  .nav-link {
    font-size: 12px;
  }
  
  .nav a {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
  }
  
  body.content-page .nav {
    top: 30px;
    height: 60px;
    width: 90%;
  }
  
  body.content-page .nav-img {
    width: 45px;
    margin-left: 10px;
    margin-top: 8px;
  }
  
  body.content-page .nav-link {
    font-size: 12px;
  }
  
  body.content-page .nav a {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12px;
  }
  
  /* トップページ */
  .top-text {
    font-size: 5vw;
    width: 90%;
  }
  
  .top-text a {
    font-size: 16px !important;
    padding: 15px 30px !important;
  }
  
  /* メインコンテンツ */
  .main-con1, .main-con2, .main-con3 {
    height: auto;
    min-height: 100vh;
    padding: 20px;
  }
  
  .card1 {
    font-size: 5vw;
    top: 50%;
    width: 90%;
    white-space: normal;
  }
  
  a.button {
    top: 30px;
    padding: 12px 20px;
    font-size: 14px;
    display: inline-block;
  }
  
  .card2 {
    width: 100%;
    padding: 20px;
    position: static;
    transform: none;
    white-space: normal;
  }
  
  .card2 .text {
    font-size: 4.5vw;
    position: static;
    right: 0;
    display: block;
    margin-bottom: 30px;
  }
  
  .card2 img {
    width: 100%;
    position: static;
    left: 0;
    margin-top: 20px;
  }
  
  a.button2 {
    padding: 12px 20px;
    font-size: 14px;
    display: inline-block;
  }
  
  .card3 {
    width: 100%;
    padding: 20px;
    position: static;
    transform: none;
    white-space: normal;
  }
  
  .card3 img {
    width: 100%;
    position: static;
    right: 0;
    margin-bottom: 30px;
    order: -1;
  }
  
  .card3 .text {
    font-size: 4.5vw;
    position: static;
    left: 0;
    display: block;
  }
  
  /* コンテンツページ */
  .card-title {
    font-size: 28px;
    top: 120px;
    width: 90%;
    max-width: none;
    padding: 10px;
    border-bottom: 3px solid rgb(24, 48, 82);
  }
  
  .card {
    top: 200px;
    width: 90%;
    max-width: none;
    padding: 15px;
    padding-bottom: 30vh;
  }
  
  .card h2 {
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  
  .card h3 {
    font-size: 20px;
  }
  
  .card h4 {
    font-size: 18px;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.8;
  }
  
  .card ul, .card ol {
    font-size: 16px;
    padding-left: 25px;
  }
  
  .card li {
    margin-bottom: 10px;
  }
  
  /* インラインスタイルのボックスをレスポンシブに */
  .card > div[style*="padding"] {
    padding: 15px !important;
  }
  
  /* グリッドレイアウトを1列に */
  .card div[style*="grid-template-columns"] {
    grid-template-columns: 1fr !important;
  }
  
  /* ナビゲーションボタン */
  .card a[style*="padding"] {
    padding: 15px !important;
    font-size: 16px !important;
  }
}

@media screen and (max-width: 480px) {
  .nav-link {
    font-size: 10px;
  }
  
  .nav a {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 10px;
  }
  
  body.content-page .nav-link {
    font-size: 10px;
  }
  
  body.content-page .nav a {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 10px;
  }
  
  .card-title {
    font-size: 22px;
    top: 100px;
  }
  
  .card {
    top: 170px;
    padding: 10px;
  }
  
  .card h2 {
    font-size: 20px;
  }
  
  .card p {
    font-size: 15px;
  }
  
  .top-text {
    font-size: 6vw;
  }
}